* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 50px auto;
}

.flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#days {
  gap: 20px;
}

.day {
  width: 100%;
  min-height: 300px;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}

.bottom-row {
  width: 100%;
}

.high-temp {
  color: red;
  font-weight: bolder;
}

.low-temp {
  color: #2b78e4;
  font-weight: bolder;
}

.high-temp::after, .low-temp::after {
  content: "°";
}